php_value upload_max_filesize 1G
php_value post_max_size 1G
php_value memory_limit 2048M
php_value max_execution_time 300

RewriteEngine On
RewriteBase /
RewriteRule ^api/.*$ index.php [L]
RewriteRule ^graphql$ index.php [L]
RewriteRule ^graphql/ index.php [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} !\.(html|php|css|jpg|js|json|xml|gif|ico|png|txt|svg|woff|woff2|ttf|map|webp) [NC]
RewriteRule ^ /index.html [L]
